body{
    background: linear-gradient(135deg, #36d1dc, #5b86e5);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.calculator-box{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

h1{
    color: #0d6efd;
    font-weight: bold;
}

.form-control{
    height: 50px;
    font-size: 18px;
}

.btn{
    padding: 12px;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.03);
}

.card{
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.bill-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 17px;
}

.text-success{
    font-weight: bold;
}

@media(max-width: 576px){

    .calculator-box{
        padding: 20px;
    }

    h1{
        font-size: 28px;
    }

}